{% extends "OxygenSecurityBundle::layout.html.twig" %}
{% block body %}
  <p>  
    Thank you for registering for an account, and email has been sent to your 
    account with a link.  Please click the link to confirm your account.
  </p>
{% endblock %}