{% extends 'OxygenSecurityBundle::layout.html.twig' %}
{% form_theme form "OxygenSecurityBundle:Theme:login.html.twig" %}
{% block body %}
{% if error %}
    <div>{{ error.message }}</div>
{% endif %}

<form action="{{ path('_login_check') }}" method="post">
  {{ form_widget(form) }}
  <input type="submit" value="login" name="login" />
</form>
{% endblock %}