{% extends "OxygenSecurityBundle::layout.html.twig" %}
{% form_theme form "OxygenSecurityBundle:Theme:form.html.twig" %}
{% block body %}
  <form action="{{ path("register") }}" method="post" {{form_enctype(form)}}>
    <div id="user-form">
      {{ form_widget(form) }}
      <input type="submit" value="Register" />
    </div>
  </form>
{% endblock %}