{% extends "OxygenSecurityBundle::layout.html.twig" %}
{% block body %}
<h1>My Account</h1>
<ul>
  <li>
    {{ user.username }}
  </li>
  <li>
    {{ user.email }}
  </li>
  <li>
    {{ user.created|date('d/m/Y') }}
  </li>
</ul>
{% endblock %}